body{
	background: pink;
}

.done {
  text-decoration: line-through;
}

body{
	font: "Raleway", sans-serif;
	background: pink;
	color:rgba(0,0,0,5);
	text-align:center;
	text-transform:uppercase;
	letter-spacing: .5em;
	top:15%;
	background:linear-gradient(to right,red,yellow);

h1{
	font: 600 3.5em "Raleway", sans-serif;
	color:rgba(0,0,0,5);
	text-align:center;
	text-transform:uppercase;
	letter-spacing: .5em;
	width: 100%;
}

h3{
	font: 900 3.5em "Raleway", sans-serif;
	color:rgba(0,0,0,5);
	text-align:center;
	text-transform:none;
	letter-spacing: .01em;

}
