html{
	background-image: url(Health.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h1{
	color: blue;
	text-align: center;
}

img{
	width: 200px;
	height: 350px;
	margin: 50px;
}

.fun{
	width:800px ;
	height:500px;
	display: flex;
}


.grid:hover{
	transform: 20px;
}

.yup{
	height: 800px;
	width:700px;
}
