html{
	background-image: url(Health.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
	
h1{
	color: blue;
	text-align: center;
}

img{
	width: 500px;
	height: 1000px;
	margin: 50px;
}
.food{
	border: blue solid 5px;
}

.fun{
	border: purple solid 5px;
}

.selfie{
	border: pink solid 5px;
}
.grid{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 300px 300px 300px;
	border: blue solid 5px;
}