html{
	background-image: url(Health.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: lighten;
}

a{
	text-decoration: none;}

a {
    background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #ce0606;
}

a:active {
  box-shadow: none;
  top: 5px;
}

p a{
	color: purple;
	display: flex;
	
	background-color: red;
  	color: white;
  
  	text-decoration: none;
  	text-transform: uppercase;
  
}	
.Pics{
	display: flex;
	justify-content: flex-start;
}
h1{
	font-family: fantasy;
	text-align: center;
	border-bottom: 2px solid pink;
	border-collapse: collapse;
	border width:100px;
	width: 400px;
	color: blue; 

}

p{
	color: maroon;
	font-weight: bold;
	font-size: 20px;
	}



img{
	width: 350px;
	height: 650px;
	margin: 10px;
}
#tru{
	color: maroon;
}
.boxmodely{
	border: 2px solid purple;
	display: inline-block;
	width: 700px;
	height: 50px;
	display: flex;
	align-content: space-between;	

}
section div{
	text-transform: capitalize;
	font-family: cursive;
	font-weight: bold;
}

li{
	list-style-type: square;
}

.Mission{
	display: flex;
	width: 900px;
}

.list{
	display: flex;
	flex-direction: column;
	padding: 50px;
}

div li{
	color: maroon;
	font-weight: lighter;
}
.button{
	color: blue;
	background: pink;
	width: 100px;
	height: 50px;
}
